.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
}

.loading-container img {
    width: 100px; /* Ajusta el tamaño del GIF según sea necesario */
    height: auto;
    margin-bottom: 20px; /* Espacio entre el GIF y el texto */
}

.loading-container p {
    font-size: 1.2em;
    color: #333; /* Color del texto */
}