footer {
    background-color:rgb(95, 95, 222);
    color: white;
    padding: 20px;
    text-align: center; 
    font-size: 18px;
  }
  
  footer i {
    margin-right: 10px; 
    color: #3b3b3b;
  }
  
  footer i:last-child {
    margin-right: 0;
  }
  
  footer span {
    margin:  10px; 
  }
  .iconos{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
    gap: 30px;

  }
