.seccion {
  padding: 30px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tituloo {
  text-align: center;
  background-color: #5f5fde;
  border-radius: 5px;
  padding: 6px 12px;
  margin-bottom: 15px;
}

.vermas {
  font-size: 16px;
  margin-bottom: 25px;
  text-align: center;
  color: #1c3a63;
}

.vermas a {
  color: #1c3a63;
  font-weight: bold;
}

.populares-grid-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.populares-grid-container  {
  flex: 1;
  min-width: 0;
  margin: 0 10px;
  box-sizing: border-box;
}

.cargando {
  text-align: center;
  font-size: 18px;
  color: #888;
}

@media (max-width: 420px) {
  .seccion {
    padding: 15px;
    background-color: #f5f5f5;
  }

  .tituloo {
    margin: 0;
    padding: 10px;
    font-size: 18px;
  }

  .populares-grid-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .populares-grid-container > div {
    flex: none;
    margin: 10px 0;
    max-width: 90%; 
    width: 100%; 
    padding: 5px; 
  }

  .vermas {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
  }

  .cargando {
    font-size: 16px;
  }
}
