body{
    background-color: #555;
}

.populares-grid-section {
    padding: 20px;
  }
  
  .populares-titulo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .vermas {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .populares-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .cargando {
    text-align: center;
    font-size: 18px;
    color: #555;
  }
  